.description {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}
.description-top {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
  align-items: center;
}

.description-image {
  display: flex;
  justify-content: center;
}

.description-image img {
  width: 100%;
  max-width: 260px;
  border-radius: 50%;
  border: 2px solid #2b5ea0;
  object-fit: cover;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.description-image img:hover {
  transform: scale(1.03);
}

.description-content h2 {
  font-size: 28px;
  margin-bottom: 16px;
  font-family: 'Satoshi', sans-serif;
}

.description-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #111;
  margin-bottom: 24px;
  max-width: 600px;
  text-align: justify;
}

.description-divider {
  margin: 40px 0 30px;
  height: 1px;
  background: rgba(0,0,0,0.2);
}

.description-values {
  background: #2b5ea0;
  padding: 30px 20px;
  border-radius: 16px;
}

.description-values ::ng-deep .pill {
  background: #ffffff;
  color: #000000;
}

.description-values ::ng-deep .pill.active {
  background: #e0e7ff;
  color: #000000;
}

.description-values ::ng-deep .pill .pill-description {
  color: #000000;
}
