<footer class="footer">
  <div class="footer-content">

    <div class="footer-logo">
      <h2>Juan Cárdenas</h2>
      <p>Full Stack Developer</p>
    </div>

    <ul class="footer-links">
    <li><app-button redirect="/">Home</app-button></li>
    <li><app-button redirect="/about">About</app-button></li>
    <li><app-button redirect="/projects">Projects</app-button></li>
    <li><app-button redirect="/contact">Contact</app-button></li>
  </ul>

    <div class="footer-social">
      <a href="https://github.com/jcardenasz" target="_blank">
        <app-icon name="github" size="md"></app-icon>
      </a>
      <a href="https://linkedin.com/in/jccardenasz" target="_blank">
        <app-icon name="linkedin" size="lg"></app-icon>
      </a>
      <a href="https://instagram.com/camilo_cz?igsh=eWI4c3hleGhqaDRz" target="_blank" rel="noreferrer">
        <app-icon name="instagram" size="md"></app-icon>
      </a>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 Juan Cárdenas. All rights reserved.</p>
  </div>
</footer>
