.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 2rem;
  width: 100%;
  background-color: #3b5dac;
  color: white;
}

.logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  transition: transform 0.2s ease-in-out;
}

.logo-image:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
