<nav class="navbar">
  <div class="navbar-logo">
    <a href="/" class="logo-image">
      <app-icon name="logo" size="xl"></app-icon>
    </a>
  </div>
  <ul class="navbar-links">
    <li><app-button redirect="/" variant="navbar">Home</app-button></li>
    <li><app-button redirect="/about" variant="navbar">About</app-button></li>
    <li><app-button redirect="/projects" variant="navbar">Projects</app-button></li>
    <li><app-button redirect="/contact" variant="navbar">Contact</app-button></li>
  </ul>
</nav>
